<a href="https://colab.research.google.com/github/bobbyknit007/ML/blob/main/Classifier/KNN_Classifier_TitanicDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from warnings import filterwarnings
filterwarnings('ignore')

In [5]:
df = pd.read_csv("/content/Titanicdata.csv")

In [6]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Passenger Id, Ticket and Name has nothing to do with survival.
Removing those columns.

In [7]:
df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)

In [8]:
df.shape

(891, 9)

In [9]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [10]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [11]:
df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [12]:
cols= df.columns
for col in cols:
  print('{} has {} unique values'.format(col, df[col].nunique()))

Survived has 2 unique values
Pclass has 3 unique values
Sex has 2 unique values
Age has 88 unique values
SibSp has 7 unique values
Parch has 7 unique values
Fare has 248 unique values
Cabin has 147 unique values
Embarked has 3 unique values

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
df['Species_encoded'] = le.fit_transform(df['Species'])

KeyError: 'Species'

In [ ]:
df.head(5)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df1 = df.drop('Id',axis=1)

In [ ]:
df1.head(5)

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
df1.head(5)

In [ ]:
X = df1[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [ ]:
Y = np.array(df1['Species_encoded']).reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
#X = df1.drop(['Species_encoded','Species'],axis='columns')
#Y = df1.Species_encoded

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1)

In [ ]:
len(X_train)

In [ ]:
len(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn  = KNeighborsClassifier(n_neighbors=10)

In [ ]:
knn.fit(X_train,Y_train)

In [ ]:
knn.score(X_test,Y_test)

In [ ]:
knn.predict([[6.3,2.5,5.0,1.9]])

In [ ]:
from sklearn.metrics import confusion_matrix
Y_pred = knn.predict(X_test)
cm = confusion_matrix(Y_test,Y_pred)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(7,5))
sns.heatmap(cm,annot=True)
plt.xlabel('Predicted')
plt.ylabel('Truth')